<div class="auth-container">
  <div class="forms-container">
    <div class="signin-signup" [class.sign-up-active]="isSignUpMode">
      <!-- Sign In Form -->
      <form
        [formGroup]="signInForm"
        (ngSubmit)="onSignIn()"
        class="sign-in-form"
      >
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            type="text"
            placeholder="Username"
            formControlName="username"
          />
        </div>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            type="text"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>

        <!-- Error message display -->
        <div class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <button type="submit" class="btn solid" [disabled]="isLoading">
          <span *ngIf="!isLoading">Login</span>
          <span *ngIf="isLoading">Logging in...</span>
        </button>

        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>

      <!-- Sign Up Form -->
      <form
        [formGroup]="signUpForm"
        (ngSubmit)="onSignUp()"
        class="sign-up-form"
      >
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            type="text"
            placeholder="Username"
            formControlName="username"
          />
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" placeholder="Email" formControlName="email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <input type="submit" class="btn" value="Sign up" />
        <p class="social-text">Or Sign up with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>

  <!-- Panels Container -->
  <div class="panels-container">
    <!-- Only need one panel now -->
    <div class="panel left-panel">
      <div class="content">
        <h3>Welcome to SpiceStore</h3>
        <p class="text-xs ">
          Access your dashboard to monitor activities, track performance, and
          make data-driven decisions.
        </p>
        <p class="text-base mb-4 font-bold">
          If you're a vendor and want to register, please visit our
          <a
            [routerLink]="['/auth/vendor']"
            class="inline-block border border-orange-500 text-orange-500 hover:bg-orange-500 hover:text-white font-medium px-4 py-2 rounded transition duration-200 ml-1"
          >
            Vendor Registration Page
          </a>.
        </p>
        
        <p class=" text-base font-bold">
          Interested in joining as a supplier? Head over to our
          <a
            [routerLink]="['/auth/supplier']"
            class="inline-block border border-yellow-500 text-yellow-500 hover:bg-yellow-500 hover:text-white font-medium px-4 py-2 rounded transition duration-200 ml-1"
          >
            Supplier Registration Page
          </a>.
        </p>
        
      </div>
      <img src="assets/images/log.svg" class="image" alt="" />
    </div>

    <div class="copyright-text">
      © 2025 Supply Chain Management System. All rights reserved.
    </div>
  </div>
</div>
