<!-- sidebar.component.html -->
<div class="h-screen w-64 bg-gradient-to-b from-[#fde68a] via-[#fcd9b1] to-[#d47153] border border-[#ea8717] shadow-md text-stone-800 transition-all duration-300 ease-in-out" [hidden]="isClosed()">
  <div class="px-6 py-4 border-b border-[#ea8717] flex items-center">
    <h2 class="text-lg font-semibold tracking-wide">Navigation</h2>
  </div>
  <nav class="mt-4">
    <ul class="space-y-1">
      @for (tab of tabs; track tab.label) {
        <li>
          <a 
            [routerLink]="tab.route" 
            class="block px-6 py-2 rounded-md text-sm font-medium text-stone-700 hover:bg-[#ea8717] hover:text-white transition-all duration-200">
            {{ tab.label }}
          </a>
        </li>
      }
    </ul>
  </nav>
</div>
